<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Goods manager</title>
    <link rel="stylesheet" href="goods.css" />
</head>

<body>

    <div id="goodsapp">

        <header>
            <h1>List of Goods</h1>
        </header>

        <div class="dropdown">
            <button class="dropbtn">Select</button>
            <div class="dropdown-content">
              <a id="sAll">select all</a>
              <a id="usAll">unselect all</a>
            </div>
          </div> 

        <section id="main">
            
            <ul id="goods-list"></ul>
        </section>

        <footer>
            <a id="clear-completed">Clear deactivated</a>
            <div id="goods-count"></div>
        </footer>

    </div>

    <script src="../lib/json2.js"></script>
    <script src="../lib/jquery.js"></script>
    <script src="../lib/underscore.js"></script>
    <script src="../lib/backbone.js"></script>
    <script src="../lib/backbone.localStorage.js"></script>
    <script src="../lib/Backbone.ModalDialog.js"></script>
    <script src="../lib/backbone.paginator.js"></script>
    <script src="goods.js"></script>

    <!-- Templates -->

    <script type="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= active ? 'checked="checked"' : '' %> />
            <label> <%- name %></label>
            <label> <%- price %>$</label>
            <a class="destroy"></a>
        </div>
        <input class="edit" type="text" value="<%- name %>" />
    </script>


    <script type="text/template" id="stats-template">
        <div class="totalContainer">
            <h2>Total</h2>
        </div>
        <div class="pagGroup">
                <button id="firstPage"><<</button>
                <button id="prevPage"><</button>
                <button id="page1">1</button>
                <button id="page2">2</button>
                <button id="page3">3</button>
                <button id="nextPage">></button>
                <button id="lastPage">>></button>
        </div>
            
        <div class="btnGroup">
            <button class="addBtn"  id="add-btn">Add</button>
            <button class="calcBtn" id="clc-btn">Sum</button>
        </div>
        <% if (active) { %>
            <a id="clear-completed">Clear <%= active %> deactivated <%= active == 1 ? 'good' : 'goods' %></a>
            <% } %>
                <div class="goods-count"><b><%= remaining %></b>
                    <%= remaining == 1 ? 'good' : 'goods' %> in bucket</div>
    </script>


    <script type="text/template" id="modal-template">
        <div class='modalContainer'>
            <div class='modal-header'>Add a new goods to the list</div>
            <form>
                <table class='compact'>
                    <tr>
                        <td>
                            <label for='name'>Name</label>
                        </td>
                        <td>
                            <input type='text' id='name' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for='price'>price</label>
                        </td>
                        <td>
                            <input type='number' id='price' />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input id='addGoodBtn' type='submit' value='Save' />
                            <input id='cancelBtn' type='button' value='Cancel' />
                            <div id="invalid-error" class="hidden">Error: invalid value, model don`t save</div>
                            <div id="success-save" class="hidden">Model save successful</div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </script>

</body>

</html>