html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}



#goods-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#goods-list li {
	padding: 1px 2px 1px 1px;
	position: relative;
	font-size: 24px;
	color: #000000;
	margin: 2px;
	
}



#goods-list li.active label {
	color: black;
	text-decoration-line: none;
}

#goods-list li.active {
	background-color: #7eb2ff;
}

#cart-list .destroy {
	position: absolute;
	right: 5px;
	top: 20px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: url(destroy.png) no-repeat;
}

#cart-list li:hover .destroy {
  	display: block;
}

#cart-list .destroy:hover {
  	background-position: 0 -20px;
}


#goodsapp footer {
	display: none;
	margin: 0 -20px -20px -20px;
	overflow: hidden;
	color: #555555;
	border-top: 1px solid #ededed;
	padding: 0 20px;
	line-height: 37px;
}

.hidden {
   display: none;
}


 .pagGroup{
	display: flex;
	justify-content: center;
	margin: 50px;
 }

 .priceOfGoods {
	 position: absolute;
	 right: 30px;
	 top: 25px;
 }

 .nameOfGoods {
	 position: absolute;
	 top: 25px;
 }

 .totalContainer > h2{
	display: flex;
	justify-content: flex-end;
 }

 .btnGroup{
	margin: 10px 10px;
	display: flex;
	justify-content: flex-end;
 }

 .price {
	display: flex;
	justify-content: flex-end;
 }

 #addToCart{
	display: flex;
	justify-content: flex-end; 
 }

 .card-group > li:hover {
	background-color: tan;
 }

 .shopModule {
	 display: flex;
	 justify-content: center;
	 align-content: center;
 }

 .total {
   display: flex;
   justify-content: flex-end;
   margin-top: 20px;
 }

 img {
	 height: 200px;
	 width: 200px;
 }

 .btn {
	 margin-left: 1px;
 }

 .imgItem{
	 height: 600px;
	 width: 600px;
 }

 .itemContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 60px;
 }

 .item {
	 height: 50px;
	 font-size: 26px;
 }

 #applySort {
	 margin: 10px;
	 display: flex;
	 justify-content: flex-end;
 }

 #histiry-goods {
	overflow: auto;
	margin: 50px;
 }
 